.products-container {
  background-color: #ffffff;
  text-align: center;

  .list-title {
    margin: 15px 0;
  }

  .table-container {
    margin: 0 20px;

    .stock-content {
      background-color: #20a6ff;
      border-radius: 25px;
      padding: 5px;

      p {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}
