.products-container {
  background-color: #ffffff;
  text-align: center;

  .list-title {
    margin: 15px 0;
  }

  .table-container {
    margin: 0 20px;

    .stock-content {
      background-color: #20a6ff;
      border-radius: 25px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      align-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
      p {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
      }
    }

    .read-content {
      display: flex;
      flex-direction: row;
      gap: 25px;
      align-items: center;
      justify-content: center;

      .circle-read {
        background: white;
        border-radius: 50%;
        border: 1px solid black;
        width: 20px;
        height: 20px;

        &--active {
          background-color: #01a839;
        }
      }
    }

    .ant-tag {
      width: 100%;
      border-radius: 7px;
      text-align: center;
      font-weight: 600;
    }
  }
}
